@font-face {
  font-family: "Gotham Pro";
  src: url('../fonts/GothamPro-Light.eot');
  src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Light.woff2') format('woff2'), url('../fonts/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro-Light.ttf') format('truetype'), url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url('../fonts/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.ttf') format('truetype'), url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url('../fonts/GothamPro-LightItalic.eot');
  src: url('../fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-LightItalic.woff2') format('woff2'), url('../fonts/GothamPro-LightItalic.woff') format('woff'), url('../fonts/GothamPro-LightItalic.ttf') format('truetype'), url('../fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Gotham Pro", sans-serif;
  background: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

*::selection {
  background-color: #ec1e79;
  color: #ffffff;
}

.main-header {
  background-color: #27273e;
}

.main-header--bottom-margin {
  margin-bottom: 45px;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
}

.main-logo__picture {
  width: 99px;
  height: 51px;
}

.contacts__phone {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  line-height: 29px;
}

.contacts__worktime {
  display: block;
  border: 0;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  opacity: 0.7;
  color: #ec1e79;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  line-height: 18px;
  cursor: pointer;
}

.contacts__worktime:hover {
  color: #5dd1f8;
}

.keyvisual {
  padding: 0 20px;
  height: 359px;
  background-image: url(/images/banner.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #27273e;
  margin-bottom: 67px;
}

.keyvisual__title {
  display: none;
}

.page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-sidebar {
  margin-right: 70px;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  margin-bottom: 32px;
}

.menu__link {
  color: #ec1e79;
  font-family: "Gotham Pro", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none;
  position: relative;
  padding-left: 37px;
}

.menu__link--general::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  background-image: url(/images/navigation-icon-1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: -1px;
  left: 0px;
}

.menu__link--active {
  text-decoration: underline;
  filter: brightness(0%);
}

.menu__link--reviews::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url(/images/navigation-icon-2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: -3px;
  left: 0px;
}

.menu__link--rates::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 16px;
  background-image: url(/images/navigation-icon-3.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: -1px;
  left: 0px;
}

.menu__link:hover {
  filter: brightness(0%);
}

.breadcrumbs--margin-bottom {
  margin-bottom: 15px;
}

.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__link {
  opacity: 0.8;
  font-family: "Gotham Pro", sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ec1e79;
  text-decoration: underline;
}

.breadcrumbs__link--active {
  color: #221f1f;
  text-decoration: none;
}

.features__title {
  color: #221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-size: 49px;
  font-weight: 700;
  margin: 0;
  line-height: 40px;
  margin-bottom: 65px;
}

.features__items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 84px;
}

.features__item {
  text-align: center;
  max-width: 200px;
  margin-right: 70px;
  padding-top: 105px;
}

.features__item:nth-child(3n) {
  margin-right: 0px;
}

.features__item:nth-child(1) {
  margin-left: 25px;
  background-image: url(/images/feature-1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 70px;
}

.features__item:nth-child(2) {
  background-image: url(/images/feature-2.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 70px;
}

.features__item:nth-child(3) {
  background-image: url(/images/feature-3.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 70px;
}

.features__name {
  color: #212121;
  font-family: "Gotham Pro", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 2.88px;
  position: relative;
  margin: 0;
}

.features__text {
  margin: 0;
  margin-top: 24px;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__list-item {
  text-align: left;
}

.features__list-item::before {
  content: "•";
  color: #cc3366;
  padding-right: 30px;
}

.news__title {
  color: #221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  margin-top: 0;
  margin-bottom: 75px;
}

.news__post {
  margin-bottom: 49px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.news__image {
  margin-right: 20px;
}

.news__date {
  color: #221f1f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  margin: 0;
  display: block;
  margin-bottom: 13px;
}

.news__name {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  margin-bottom: 17px;
}

.news__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

.switcher {
  width: 330px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher__display {
  margin: 0;
  color: #656464;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  margin-right: 20px;
}

.switcher__paginator {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher__prev {
  font-size: 0;
  margin-right: 15px;
  display: inline-block;
  width: 6px;
  height: 10px;
  background-image: url(/images/prev.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: -2px;
}

.switcher__prev--disabled,
.switcher__next--disabled {
  opacity: 0.3;
}

.switcher__pages {
  color: #221f1f;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 14px;
  list-style: none;
  padding: 0;
  font-size: 0;
}

.switcher__page-item {
  display: inline-block;
  font-size: 14px;
}

.switcher__link {
  color: #221f1f;
  text-decoration: none;
  padding: 7px 8px;
}

.switcher__link:not(.switcher__link--active):hover {
  color: #ae2264;
}

.switcher__link--active {
  color: #ffffff;
  padding: 5px 10px 6px 10px;
  background-color: #27273e;
  border-radius: 3px;
}

.switcher__next {
  font-size: 0;
  margin-left: 10px;
  display: inline-block;
  width: 6px;
  height: 10px;
  background-image: url(/images/next.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: -2px;
}

.note {
  height: 174px;
  background-color: #27273e;
  background-image: url(/images/note-pattern.png);
  background-position: center center;
  background-repeat: repeat-x;
}

.note--margins {
  margin: 57px 0;
}

.note__text {
  margin: 0;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 611px;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.note__special-text {
  color: #ec1e79;
  font-family: "Gotham Pro";
  font-weight: 700;
}

.review {
  width: 560px;
  min-height: 327px;
  padding: 50px 70px;
  background-color: #f5f5f5;
  margin: 0 auto;
}

.review__title {
  color: #221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 30px;
}

.review__flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 327px;
}

.review__form-element:nth-child(1),
.review__form-element:nth-child(2) {
  align-self: flex-start;
}

.review__form-element:nth-child(3) {
  align-self: center;
}

.review__form-element:nth-child(4),
.review__form-element:nth-child(5) {
  align-self: flex-end;
}

.review__text {
  display: block;
  color: #221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 11px;
  margin-bottom: 9px;
}

.review__text-input {
  width: 259px;
  height: 45px;
  background-color: #ffffff;
  border: none;
  padding: 0;
  padding-left: 10px;
}

.review__textarea {
  width: 538px;
  height: 65px;
  padding: 10px;
  border: 1px solid #ec1e79;
  background-color: #ffffff;
  border-radius: 3px;
}

.review__text-input:focus,
.review__textarea:focus {
  box-shadow: 2px 2px 5px 0 rgba(236, 30, 123, 0.5);
}

.review__radio-label {
  color: #221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  margin-right: 20px;
  cursor: pointer;
}

.review__radio {
  display: none;
}

.review__radio-label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

.review__submit {
width: 139px;
height: 45px;
background-color: #27273e;
border: none;
border-radius: 3px;
font-family: "Gotham Pro", sans-serif;
color: #ffffff;
font-size: 12px;
font-weight: 700;
line-height: 12px;
text-transform: uppercase;
letter-spacing: 2.4px;
cursor: pointer;
}

.review__submit:hover {
  background-color: #ec1e79;
}

.review__radio:checked + .review__radio-label::before {
  width: 8px;
  height: 8px;
  background-color: #ec1e79;
  border: 6px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ec1e79;
}

.main-footer {
  background-color: #27273e;
}

.main-footer--margin-top {
  margin-top: 70px;
}

.main-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

.main-footer__copyright {
  color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  width: 270px;
}

.main-footer__copyright a {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  color: #ffffff;
}

.main-footer__author {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
}

.main-footer__social-text {
  color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.main-footer__social-list {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin-top: 10px;
  text-align: left;
}

.main-footer__social-item {
  display: inline-block;
  margin-right: 10px;
}

.main-footer__social-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.main-footer__social-item--vk {
  background-image: url(/images/vk.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.main-footer__social-item--fb {
  background-image: url(/images/fb.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.main-footer__social-item--gp {
  background-image: url(/images/gp.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.main-footer__social-item--tw {
  background-image: url(/images/tw.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.main-footer__social-item--mail {
  background-image: url(/images/mail.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.main-footer__social-item--vk:hover {
  background-image: url(/images/vk-hover.png);
}

.main-footer__social-item--fb:hover {
  background-image: url(/images/fb-hover.png);
}

.main-footer__social-item--gp:hover {
  background-image: url(/images/gp-hover.png);
}

.main-footer__social-item--tw:hover {
  background-image: url(/images/tw-hover.png);
}

.main-footer__social-item--mail:hover {
  background-image: url(/images/mail-hover.png);
}