@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-Light.eot');
  src: url('fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-Light.woff2') format('woff2'), url('fonts/GothamPro-Light.woff') format('woff'), url('fonts/GothamPro-Light.ttf') format('truetype'), url('fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-Bold.eot');
  src: url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-Bold.woff2') format('woff2'), url('fonts/GothamPro-Bold.woff') format('woff'), url('fonts/GothamPro-Bold.ttf') format('truetype'), url('fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-LightItalic.eot');
  src: url('fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/GothamPro-LightItalic.woff2') format('woff2'), url('fonts/GothamPro-LightItalic.woff') format('woff'), url('fonts/GothamPro-LightItalic.ttf') format('truetype'), url('fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1060px;
  font-family: "Gotham Pro", sans-serif;
  background: #ffffff;
}

.main-header {
  margin: 0 auto;
  padding: 0 20px;
  min-height: 76px;
  background-color: #27273e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo__picture {
  width: 99px;
  height: 51px;
}

.contacts__phone {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  line-height: 29px;
}

.contacts__worktime {
  font-family: "Open Sans", sans-serif;
  opacity: 0.7;
  color: #ec1e79;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  text-align: right;
  line-height: 18px;
}

.contacts__worktime:hover {
  color: #5dd1f8;
}

.keyvisual {
  width: auto;
  height: 359px;
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #27273e;
  margin-bottom: 67px;
}

.page {
  display: flex;
  justify-content: space-between;
}

.menu__list {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  margin-right: 70px;
}

.menu__item {
  margin-bottom: 32px;
}

.menu__link {
  color: #ec1e79;
  font-family: "Gotham Pro", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none;
  position: relative;
  padding-left: 37px;
}

.menu__link--general::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  background-image: url(images/feed-icon1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: -1px;
  left: 0px;
}

.menu__link--active {
  text-decoration: underline;
  filter: brightness(0%);
}

.menu__link--reviews::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url(images/feed-icon2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: -2px;
  left: 0px;
}

.menu__link--rates::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 16px;
  background-image: url(images/wallet-icon3.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: -1px;
  left: 0px;
}

.menu__link:hover {
  filter: brightness(0%);
}

.index-content {
  min-width: 885px;
  padding-right: 20px;
}

.features__title {
  color: #221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-size: 49px;
  font-weight: 700;
  margin: 0;
  line-height: 40px;
  margin-bottom: 65px;
}

.features__items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 84px;
}

.features__item {
  text-align: center;
  max-width: 210px;
  margin-right: 70px;
}

.features__item:nth-child(3n) {
  margin-right: 0px;
}

.features__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

.features__name {
  color: #212121;
  font-family: "Gotham Pro", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 2.88px;
  position: relative;
  margin: 0;
}

.features__text {
  margin: 0;
  margin-top: 24px;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__list-item {
  text-align: left;
}

.features__list-item::before {
  content: "•";
  color: #cc3366;
  padding-right: 30px;
}

.news__title {
  color: #221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  margin-top: 0;
  margin-bottom: 75px;
}

.news__post {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.news__image {
  margin-right: 20px;
}

.news__date {
  color: #221f1f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  margin: 0;
  display: block;
  margin-bottom: 13px;
}

.news__name {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  margin-bottom: 16px;
}

.news__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

.switcher {
  width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher__display {
  margin: 0;
  color: #656464;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  margin-right: 20px;
}

.switcher__paginator {
  width: 215px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher__prev {
  font-size: 0;
  margin-right: 15px;
  display: inline-block;
  width: 6px;
  height: 10px;
  background-image: url(images/prev.png);
  background-position: center;
  background-repeat: no-repeat;
}

.switcher__prev--disabled, 
.switcher__next--disabled {
  opacity: 0.3;
}

.switcher__pages {
  color: #221f1f;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 14px;
  list-style: none;
  padding: 0;
  font-size: 0;
}

.switcher__page-item {
  display: inline-block;
  font-size: 14px;
}

.switcher__link {
  color: #221f1f;
  text-decoration: none;
  padding: 7px 8px;
}

.switcher__link:not(.switcher__link--active):hover {
  color: #ae2264;
}

.switcher__link--active {
  color: #ffffff;
  position: relative;
}

.switcher__link--active::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #27273e;
  z-index: -1;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.switcher__next {
  font-size: 0;
  margin-left: 12px;
  display: inline-block;
  width: 6px;
  height: 10px;
  background-image: url(images/next.png);
  background-position: center;
  background-repeat: no-repeat;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  height: 76px;
  background-color: #27273e;
  margin-top: 70px;
}

.main-footer__copyright {
  color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.main-footer__copyright a {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  color: #ffffff;
}

.main-footer__author {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
}

.main-footer__social-text {
  color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.main-footer__social-list {
  list-style: none;
  font-size: 0;
  padding: 0;
}

.main-footer__social-item {
  display: inline-block;
  margin-right: 10px;
}

.main-footer__social-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.main-footer__social-item--vk {
  background-image: url(images/vk-normal.png)
}

.main-footer__social-item--fb {
  background-image: url(images/fb-normal.png)
}

.main-footer__social-item--gp {
  background-image: url(images/gp-normal.png)
}

.main-footer__social-item--tw {
  background-image: url(images/tw-normal.png)
}

.main-footer__social-item--mail {
  background-image: url(images/mail-normal.png)
}

.main-footer__social-item--vk:hover {
  background-image: url(images/vk.png)
}

.main-footer__social-item--fb:hover {
  background-image: url(images/fb.png)
}

.main-footer__social-item--gp:hover {
  background-image: url(images/gp.png)
}

.main-footer__social-item--tw:hover {
  background-image: url(images/tw.png)
}

.main-footer__social-item--mail:hover {
  background-image: url(images/mail.png)
}