
.main-footer {
  background-color: #27273e;
}

.main-footer--margin-top {
  margin-top: 70px;
}

.main-footer--flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

.main-footer__copyright {
  color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  width: 270px;
}

.main-footer__copyright a {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  color: #ffffff;
}

.main-footer__author {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
}

.main-footer__social-text {
  color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.main-footer__social-list {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin-top: 10px;
  text-align: left;
}

.main-footer__social-item {
  display: inline-block;
  margin-right: 10px;
}

.main-footer__social-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(/images/spritesheet.png);
  background-repeat: no-repeat;
  transition-property: all;
  transition-duration: 0.2s;
}

.main-footer__social-item--vk {
  background-position: -7px -279px;
}

.main-footer__social-item--vk:hover {
  background-position: -7px -313px;
}

.main-footer__social-item--fb {
  background-position: -7px -7px;
}

.main-footer__social-item--fb:hover {
  background-position: -7px -41px;
}

.main-footer__social-item--gp {
  background-position: -7px -75px;
}

.main-footer__social-item--gp:hover {
  background-position: -7px -109px;
}

.main-footer__social-item--tw {
  background-position: -7px -211px;
}

.main-footer__social-item--tw:hover {
  background-position: -7px -245px;
}

.main-footer__social-item--mail {
  background-position: -7px -143px;
}

.main-footer__social-item--mail:hover {
  background-position: -7px -177px;
}