.news__title {
  color: #221f1f;
  font-family: "Gotham Pro", sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  margin-top: 0;
  margin-bottom: 75px;
}

.news__post {
  margin-bottom: 49px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.news__image {
  margin-right: 20px;
}

.news__date {
  color: #221f1f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  margin: 0;
  display: block;
  margin-bottom: 13px;
}

.news__name {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  margin-bottom: 17px;
}

.news__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}