.switcher {
  width: 330px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher__display {
  margin: 0;
  color: #656464;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  margin-right: 20px;
}

.switcher__paginator {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher__prev {
  font-size: 0;
  margin-right: 15px;
  display: inline-block;
  width: 6px;
  height: 10px;
  background-image: url(/images/prev.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: -2px;
}

.switcher__prev--disabled,
.switcher__next--disabled {
  opacity: 0.3;
}

.switcher__pages {
  color: #221f1f;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 14px;
  list-style: none;
  padding: 0;
  font-size: 0;
}

.switcher__page-item {
  display: inline-block;
  font-size: 14px;
}

.switcher__link {
  color: #221f1f;
  text-decoration: none;
  padding: 7px 8px;
}

.switcher__link:not(.switcher__link--active):hover {
  color: #ae2264;
}

.switcher__link--active {
  color: #ffffff;
  padding: 5px 10px 6px 10px;
  background-color: #27273e;
  border-radius: 3px;
}

.switcher__next {
  font-size: 0;
  margin-left: 10px;
  display: inline-block;
  width: 6px;
  height: 10px;
  background-image: url(/images/next.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: -2px;
}