html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Gotham Pro", sans-serif;
  background: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

*::selection {
  background-color: #ec1e79;
  color: #ffffff;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}